<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IController"/>
                <binding name="WSDualHttpBinding_IAirplane"/>
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/ATCServer/Controller/" binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IController" contract="ControllerServiceReference.IController" name="WSDualHttpBinding_IController">
                <identity>
                    <dns value="localhost"/>
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/ATCServer/Airplane/" binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IAirplane" contract="ControllerServiceReference.IAirplane" name="WSDualHttpBinding_IAirplane">
                <identity>
                    <dns value="localhost"/>
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>
